/app/logs/
*.iml
.idea
app/target
app/target-eclipse
.metadata
Servers
.settings
RemoteSystemTempFiles
.classpath
.directory
.project
*.war
out/
/app/node_modules/
.slcache/
.slcache/.index
app/semantic/temp
app/web-app/semantic/accessibility/components
app/web-app/semantic/javascript/components
app/web-app/semantic/laser/components