println("/\/\ -- local config file found and loaded -- /\/\")

aggr_es_cluster   = 'laser3'
aggr_es_hostname  = '127.0.0.1'

dataSource.url      = 'jdbc:postgresql://localhost:5432/laser'
dataSource.username = 'laser'
dataSource.password = 'laser'
dataSource.dbCreate = 'none'

deployBackupLocation 	= '/tmp/laserDeployBackups'    // database backups (before deploys)
documentStorageLocation = '/tmp/laserDocumentStorage'  // uploaded documents

financials.currency = "EUR|GBP|USD|CHF" // priority of order

globalDataSyncJobActive = false

grails.mail.disabled        = true
grails.mail.default.from    = 'laser@local'
grails.mail.overrideAddress = 'laser@local'

grails.plugin.wkhtmltopdf.binary = '/usr/bin/wkhtmltopdf' // pdf generation; server and local
grails.plugin.wkhtmltopdf.xvfbRunner = '/usr/bin/xvfb-run' // pdf generation; server only
grails.plugin.databasemigration.updateOnStart = true
grails.serverURL = 'http://localhost:8080'

indexUpdateJobActive = false
isSendEmailsForDueDatesOfAllUsers = false
isUpdateDashboardTableInDatabase  = false

laserStatsSyncJobActive = true

laserSystemId = 'LAS:eR - 3.0'

notifications.email.from = 'laser@local'
notifications.email.genericTemplate = true // if enabled, no customisation in email (else, customized template will be sent)
notifications.email.replyTo = 'laser@local'

notificationsJobActive = false

pgDumpPath = '/usr/bin/pg_dump'

reporting.elasticSearch.url                = 'http://localhost:9200'
reporting.elasticSearch.indicies.packages  = 'wekbpackages'
reporting.elasticSearch.indicies.platforms = 'wekbplatforms'

showDebugInfo  = true
showStatsInfo  = true
showSystemInfo = true

statsApiUrl = 'https://sushi.xy.z'

systemEmail = 'laser@local'

testJobActivate = false

