println("<-- local config found and loaded -->")

laserSystemId = 'LAS:eR - 1.7'

aggr_es_cluster         = 'laser2'
aggr_es_index           = 'laser2'
aggr_es_hostname        = '127.0.0.1'
statsApiUrl             = 'https://xy'

dataSource.url          = 'jdbc:postgresql://localhost:5432/laser'
dataSource.username     = 'laser'
dataSource.password     = 'laser'

documentStorageLocation = '/tmp/laser' // uploaded documents
deployBackupLocation    = documentStorageLocation + '/laserDeployBackups' // database backups (before deploys)

//basicDataPath = ''
basicDataFileName       = 'basicDataDump.xml'
orgDumpFileNamePattern  = 'orgDump_'
orgDumpFileExtension    = '.xml'

systemEmail                 = 'laser@local'
notifications.email.from    = 'laser@local'
notifications.email.replyTo = 'laser@local'
notifications.email.genericTemplate = true // if enabled, no customisation in email ..  else, customised template will be sent

financials.currency = "EUR|GBP|USD|CHF" // priority of order

activateTestJob                     = false
isUpdateDashboardTableInDatabase    = false
isSendEmailsForDueDatesOfAllUsers   = false
feature_finance                     = true
notificationsJobActive              = false
showDebugInfo                       = true
showSystemInfo                      = true
//globalDataSyncJobActiv
//StatsSyncJobActiv
//schemaSpyScriptFile = "pathTo/dbschema.sh" // QA only

quartzHeartbeat                     = 'Never'

appDefaultPrefs {
    globalDatepickerFormat    = 'yyyy-mm-dd'
    globalDateFormat          = 'yyyy-MM-dd'
    globalDateFormatSQL       = '%Y-%m-%d'
}

