/* ONLY TMP, REMOVE LATER */

.navbar-push {
    height: 60px;
}

.ui.main {
    padding-bottom: 3em;
}

.ui.main .ui.breadcrumb {
    margin-bottom: 1em;
    width: 100%;
    border: none;
}

/* myInstitutions/../dashboard */
.ui.main .home-page {
    margin-bottom: 1em;
}
.myInstitution_dashboard .ui.tab.active {
    min-height: 150px;
}

/* hyperlinks */
/*
.ui.main a {
    border-bottom: 1px solid transparent;
}
.ui.main a:hover {
    /*border-bottom: 1px solid #4183c4;
}*/
.ui.main a[class~=button],.ui.main a[class~=button]:hover {
    border-bottom: none;
}
.ui.main .select2-container .select2-choice {
    border-bottom: 1px solid #aaa;
}

/* form validation */
.ui.form input:focus:invalid:focus,
.ui.form textarea:focus:invalid:focus,
.ui.form select:focus:invalid:focus,
.ui.form input.calc.invalidCostCalc {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
/* form validation */
.ui.form input:focus:invalid,
.ui.form textarea:focus:invalid,
.ui.form select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

/* stretch content vertically */
.ui.main .inline-lists dd,
.ui.main .inline-lists dt {
    line-height: 2em;
}

/**/
.ui.main .ui.segment.form-actions {
    background-color: #F9FAFB;
}

/* new semui modals .. MUST BE FIXED */
.ui.main .ui.modal {
    top: 15%;
    z-index: 9999;
}

/* new buttons */
.ui table td.x {
    text-align: right;
    white-space: nowrap;
}

.ui.button > i.icon {
    margin-right: 0 !important;
    opacity: 1 !important;
}

/* select 2 */

.ui .select2-container {
    vertical-align: top;
    width: inherit;
}
.ui .select2-container .select2-choice {
    height: 36px;
}
.ui .select2-container .select2-choice > .select2-chosen {
    line-height: 36px;
}

/* identifier meta box */

.metaboxToggle {
    position: relative;
    height: 36px;
    margin-bottom: 1em;
}
.metaboxToggle > button {
    position: absolute;
    right: 0;
    top: 0;
}

/* <type>Details/show */

.ui.main div.inline-lists dl > dt,
.ui.main div.inline-lists dl > dd {
    line-height: 2.25em;
}

.ui.main div.inline-lists dl > dd > .ui.list {
    margin: 0;
}

/* property forms in tables */

.ui .table tfoot form {
    margin: 0;
}

/*
TODO: remove and set in semantic css: la-table-small
 */

.ui.table.la-table-small tr td {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}


/* semantic ui - upgrade to 2.3 - start */

.ui.modal {
    left: initial; /* BUG !? */
}
/* semantic ui - upgrade to 2.3 - stop */


body.yoda_appSecurity .secInfoWrapper span {
    font-weight: bolder;
    color: white;
    padding: 0px 5px;
    color: #FF00FF;
}
body.yoda_appSecurity .secInfoWrapper2 span {
    margin-left: 2px;
    float: right;
}
body.yoda_appSecurity .secInfoWrapper .list .item:hover {
    background-color: #f5f5f5;
}
body.yoda_appSecurity .secInfoWrapper .permitAll {
    padding: 1px 5px;
    color: #fff;
    background-color: #ff0066;
}
body.yoda_appSecurity .secInfoWrapper .IS_AUTHENTICATED_FULLY {
    color: #228B22;
}
body.yoda_appSecurity .secInfoWrapper .ROLE_YODA {
    color: crimson;
}
body.yoda_appSecurity .secInfoWrapper .ROLE_ADMIN {
    color: orange;
}
body.yoda_appSecurity .secInfoWrapper .ROLE_DATAMANAGER {
    color: #8B008B;
}
body.yoda_appSecurity .secInfoWrapper .ROLE_USER {
    color: #1E90FF;
}
body.yoda_appSecurity .secInfoWrapper .ROLE_API,
body.yoda_appSecurity .secInfoWrapper .ROLE_API_READER,
body.yoda_appSecurity .secInfoWrapper .ROLE_API_WRITER,
body.yoda_appSecurity .secInfoWrapper .ROLE_API_DATAMANAGER {
    color: #87CEEB;
    font-style: italic;
}
body.yoda_appSecurity .secInfoWrapper .ROLE_ORG_EDITOR,
body.yoda_appSecurity .secInfoWrapper .ROLE_ORG_COM_EDITOR,
body.yoda_appSecurity .secInfoWrapper .ROLE_PACKAGE_EDITOR,
body.yoda_appSecurity .secInfoWrapper .ROLE_STATISTICS_EDITOR,
body.yoda_appSecurity .secInfoWrapper .ROLE_TICKET_EDITOR
{
    color: #8B4513;
}

/* dashboard tasks */

body.myInstitution_dashboard .ui.tab .item .header {
    margin: 0.5rem 0;
}
body.myInstitution_dashboard .ui.tab .item span {
    line-height: 1.3rem;
}

/* label what server */

.la-server-label {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    margin: 0 !important;
    border-radius: 0 !important;
    z-index: 999;
}
.la-server-label span {
    line-height: 30px;
}

    /* mainSearch */

#mainSearch {
}
#mainSearch .prompt {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    border-radius: 0;
    color: #555;
}
#mainSearch .input {
    height: 60%;
    top: 20%;
}

/* select2 helper @ finance */

.la-full-width {
    width: 100%;
}

/* la-forward-back */

.ui .la-forward-back i.icon {
    margin: 0 !important;
}

/* la-bulk-header */

.ui table.la-bulk-header thead {
    background: white;
}
.ui table.la-bulk-header thead tr {
}
.ui table.la-bulk-header thead tr td,
.ui table.la-bulk-header thead tr th {
    line-height: 1rem;
    border-bottom: 3px solid #e6eaef;
}

/* hotfix aside.metaboxContent */

aside.metaboxContent {
    position: absolute !important;
    width: inherit;
    margin: 0 !important;
}
aside.metaboxContent + .metaboxContent-spacer {
    height: 64px;
    margin: 1rem 0;
    padding: 1em 0;
}

/* hotfix - finance */

.ui.form .la-account-currency .field .calc {
    float: left;
}


/* hotfix - visible elements with class hidden */

.hidden {
    display: none !important;
}

/* debug info */

#showDebugInfo {
    position: fixed;
    bottom: 3px;
    right: 0;
}

/* grid hover @ cpa */

.ui.internally.grid > .row:hover {
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.8);
    transition: 0.1s color ease, 0.1s background-color ease;
}