/* ONLY TMP, REMOVE LATER */

.ui.main {
    padding-bottom: 3em;
}

/* myInstitutions/../dashboard */
.ui.main .home-page {
    margin-bottom: 1em;
}
.myInstitution_dashboard .ui.tab.active {
    min-height: 150px;
}

/* hyperlinks */
.ui.main a[class~=button],.ui.main a[class~=button]:hover {
    border-bottom: none;
}

/* form validation */
.ui.form input:focus:invalid:focus,
.ui.form textarea:focus:invalid:focus,
.ui.form select:focus:invalid:focus,
.ui.form input.calc.invalidCostCalc {
    border-color: #e9322d;
    box-shadow: 0 0 6px #f8b9b7;
}
/* form validation */
.ui.form input:focus:invalid,
.ui.form textarea:focus:invalid,
.ui.form select:focus:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

/* stretch content vertically */
.ui.main .inline-lists dd,
.ui.main .inline-lists dt {
    line-height: 2em;
}

/**/
.ui.main .ui.segment.form-actions {
    background-color: #F9FAFB;
}

/* new semui modals .. MUST BE FIXED */
.ui.main .ui.modal {
    top: 15%;
    z-index: 9999;
}

.ui.button > i.icon {
    /*margin-right: 0 !important;*/
    opacity: 1 !important;
}

/* <type>Details/show */

.ui.main div.inline-lists dl > dt,
.ui.main div.inline-lists dl > dd {
    line-height: 2.25em;
}

.ui.main div.inline-lists dl > dd > .ui.list {
    margin: 0;
}

/* property forms in tables */

.ui .table tfoot form {
    margin: 0;
}

/* semantic ui - upgrade to 2.3 - start */

.ui.modal {
    left: initial; /* BUG !? */
}
/* semantic ui - upgrade to 2.3 - stop */

/* dashboard tasks */

body.myInstitution_dashboard .ui.tab .item .header {
    margin: 0.5rem 0;
}

/* filter > form > fields + field -> reduced additive margin */

.la-filter .form .fields .field {
    margin-bottom: 0.5em;
}

/* mainSearch */

#mainSearch {
}
#mainSearch .prompt {
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    border-radius: 0;
    color: #555;
}
#mainSearch .input {
    height: 60%;
}

.la-full-width {
    width: 100%;
}

/* la-forward-back */

.ui .la-forward-back i.icon {
    margin: 0 !important;
}

/* la-bulk-header */

.ui table.la-bulk-header thead {
    background: white;
}
.ui table.la-bulk-header thead tr {
}
.ui table.la-bulk-header thead tr td,
.ui table.la-bulk-header thead tr th {
    line-height: 1rem;
    border-bottom: 3px solid #e6eaef;
}

/* hotfix - finance */

.ui.form .la-account-currency .field .calc {
    float: left;
}

/* hotfix - visible elements with class hidden */

.hidden {
    display: none !important;
}

/* grid hover @ cpa */

.ui.internally.grid > .row:hover {
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.8);
    transition: 0.1s color ease, 0.1s background-color ease;
}

#systemMaintenanceMode *, #systemMessages {
    color: #2f2f2f !important;
}
#systemMaintenanceMode {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 1.1em;
    border-top: 2px solid orange;
}
#systemMaintenanceMode > .segment {
    padding: 3em 0;
    font-size: 1.1em;
}
#systemMaintenanceMode > .segment > .header {
    margin-top: 0 !important;
}

/* fix: bouncing top nav bar */

.ui.fixed.inverted.menu {
    min-height: 50px;
}

/* overrides default disabled element behavior, is for SemanticUiNavigationTagLib::securedMainNavItemDisabled and myInstitution/dashboard.gsp */

.item .disabled[data-tooltip]{
    opacity: 1 !important;
    pointer-events: auto !important;
    color: rgba(0,0,0,0.3)
}

/* table-td-colors @ yoda/admin */

.ui.la-table.table tr td.table-td-yoda-blue     { background-color: rgba( 84, 112, 198, 0.15); }

/* la-hover-table */

.ui.table.la-hover-table tr.la-active {
    outline: 1px solid #175784;
    outline-offset: -1px;
}

/* globalLoadingIndicator */

#globalLoadingIndicator {
    position: fixed;
    bottom: 3px;
    left: 3px;
    padding: 10px 15px;
    font-weight: 700;
    color: rgba(0,0,0, 0.6);
    background-color: #d3dae3;
    display: none;
    z-index: 99;
}

/* globalPageDimmer */

#globalPageDimmer {
    background-color: rgba(0,0,0, 0.40)
}

/* debug info */

#showSystemInfo {
    bottom: 45px;
    right: 10px;
}

#showDebugInfo {
    bottom: 45px;
    right: 55px;
}

#system-profiler {
    bottom: 10px;
    right: 10px;
}

/* -- 2021-01-06 -- */

main.ui.container.main {
    position: relative;
    padding-top: 0;             /* 105px */
    margin-top: 105px;          /* switched from padding to margin */
}
.main > nav.ui.breadcrumb {
    display: block !important;  /* full width to avoid <br> tags and other hacks */
}
.main > nav.ui.buttons {
    position: absolute;         /* right upper corner */
    top: 0;
    right: 0;
}

/* -- workflows -- */

a.icon.button.wfModalLink       { background-color: white; }
a.icon.button.wfModalLink:hover { background-color: #eeeeee; }

div.column.wf-centered {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* -- new header icons -- */

h1.header.icon > i.dungeon  { background-color:#d12e34; border-color:#d12e34; color:white; }
h1.header.icon > i.hdd      { background-color:#b5c334; border-color:#b5c334; color:white; }
h1.header.icon > i.tools    { background-color:#f3a43b; border-color:#f3a43b; color:white; }

/* -- simple color helper - fallback if no fomantic style is available -- */

*.sc_red        { color:#d12e34; }
*.sc_green      { color:#b5c334; }
*.sc_orange     { color:#f3a43b; }
*.sc_blue       { color:#357edd; }
*.sc_grey       { color:#808080; }
*.sc_darkgrey   { color:#a9a9a9; }

/* -- simple format helper -- */

*.sf_underline  { text-decoration: underline dotted; }

/* Temp Identifier Bugfix for 3.0, for 3.1 already fixed in LESS Structure - has to delete later */

.ui.list > .item.js-copyTriggerParent {
    display: flex!important;
}

.ui.list > .item.js-copyTriggerParent .js-copyTrigger {
    display: inline-flex !important;
}

/* simple list */

ul.la-simpleList {
    padding-left: 20px;
}

/* .menu.tabular hack */

body.subscription_copyMyElements nav.tabular .item .content .title,
body.subscription_copyElementsIntoSubscription nav.tabular .item .content .title,
body.license_copyElementsIntoLicense nav.tabular .item .content .title,
body.survey_copyElementsIntoSurvey nav.tabular .item .content .title
{
    font-weight: bold;
}
body.subscription_copyMyElements nav.tabular .item .content .description,
body.subscription_copyElementsIntoSubscription nav.tabular .item .content .description,
body.license_copyElementsIntoLicense nav.tabular .item .content .description,
body.survey_copyElementsIntoSurvey nav.tabular .item .content .description
{
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 0.25em;
}
