*.iml
.classpath
.directory
.idea
.metadata
.project
.settings
.slcache/
.slcache/.index
*.war
app/logs/
app/node_modules/
app/null
app/target
app/target-eclipse
app/semantic/temp
app/web-app/semantic/accessibility/components
app/web-app/semantic/javascript/components
app/web-app/semantic/laser/components
out/
Servers
RemoteSystemTempFiles