<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- %-58.64([%t] %logger{42}) : %ex{12}%replace(%msg){'Stacktrace follows:','Full stacktrace is suppressed..'}%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
                <expression>
                    <!-- logback-development.xml for details -->
                    <!-- hibernate -->
                    if (formattedMessage.contains("HHH020003")) return true;
                    if (formattedMessage.contains("HHH020008")) return true;
                    if (formattedMessage.contains("HHH90000022")) return true;
                    if (formattedMessage.contains("HHH90001005")) return true;
                    <!-- warn -->
                    if (formattedMessage.contains("Replaced rule for '")) return true;
                    if (formattedMessage.contains("299 Elasticsearch-7.16.3-4e6e4eab2297e949ec994e688dad46290d018022")) return true;
                    <!-- info -->
                    if (formattedMessage.contains("(for example: not eligible for auto-proxying)")) return true;
                    if (formattedMessage.contains("As of Liquibase 4.0, cannot set resource accessor on")) return true;
                    if (formattedMessage.contains("Cached entry expired :")) return true;
                    <!-- -->
                    return false;
                </expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
    </appender>

    <!-- default -->

    <logger name="de.laser" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
